[submodule "lvgl"]
	path = exported/libs/lvgl
	url = https://github.com/lvgl/lvgl
	branch = release/v8.2
[submodule "lv_drivers"]
	path = exported/libs/lv_drivers
	url = https://github.com/lvgl/lv_drivers
	branch = release/v8.2
[submodule "mqtt-c"]
	path = exported/libs/mqtt-c
	url = https://github.com/LiamBindle/MQTT-C.git
