squareline/cache/*
squareline/backup/*
exported/build/*
exported/rv-gui

exported/squareline_generator/*

# Symlinks to simulator / rpi
exported/lv_conf.h
exported/lv_drv_conf.h
exported/Makefile

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

