
[Unit]
Description=RV-HUD display service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStartPre=/bin/sh -c '/usr/bin/chvt 7 && echo 0 > /sys/class/graphics/fbcon/cursor_blink'
ExecStart=/usr/lib/rv-hud/bin/rv-gui

[Install]
WantedBy=multi-user.target
